@import "~react-toolbox/lib/colors";

$color-primary: #fc5142;
$color-primary-dark: #274254;

$appbar-height: 70px;
$appbar-h-padding: 1.6;
$appbar-color: #FFF;

// $input-field-font-size: 1.1rem;
// $input-label-font-size: .8rem;

$color-text: #1d2025;

$list-item-min-height-legend: 7rem !default;

$font-size: 1.3rem !default;

$color-accent: #fc5142;
