.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
.nav {
   width: 500px;
   height: 300px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}
.logo {
   width: 100px;
}
.linkWrapper {
   margin-top: 40px;
   padding-top: 40px;
   border-top: 1px solid #ddd;
}
.link {
   text-align: center;
   color: #999;
   display: inline-block;
   width: 80px;
   margin: 0 20px;
   /*animation: enterLink .5s ease-out .5s;*/
}
.link:hover {
   fill:#000;
   color:#000;
}
.link1 {
   top: 0;
   left: 0;
}
.link2 {
   top: 0;
   right: 0;
}
.link3 {
   left: 0;
   bottom: 0;
}
.link4 {
   right: 0;
   bottom: 0;
}

.icon {
   font-size: 4rem;
   display: block;
   text-align: center;
   fill:#999;
   margin: 0 auto;
   height: 32px;
}
.icon:hover,
.link:hover .icon {
   fill:#000;
}
.text {
   font-size: 1.3rem;
   display: block;
   text-align: center;
   text-transform: uppercase;
   padding-top: 15px;
}

@keyframes enterLink {
   0% {
      opacity: 0;
      transform: translateY(-100px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.klijentDialog h6 {
   margin-top: 0;
   font-size: 2.6rem;
   font-weight: 300;
   color: #FFF;
   background: #fc5142;
   padding: 0 2.4rem;
   font-family: 'Raleway', sans-serif;
   line-height: 80px;
   height: 80px;
}
.klijentDialog section {
   padding: 0;
}
.klijentDialog form {
   padding: 0 2.4rem;
}
